# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

# Skip scripts
.scripts/
.vscode/settings.json


setup-env-variables-azure.sh

# AZD
.azure
/spring-petclinic-frontend/npm-debug.log
/spring-petclinic-frontend/public/
/spring-petclinic-frontend/node_modules/
